.wrapper
  padding 0 2em
  margin 0 auto
  max-width 600px
  height 100%

h2
  text-align center
  text-transform uppercase

ul.posts
    margin 0 auto
    padding 0 2em
    li
      text-align center
      font-size 1.4em
      margin-top 1em
      font-weight bold